/* Components/HorizontalCardsRowBanner.module.css */
.banner {
    position: relative;
    height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url('/main/landing/main-banner.jpg');
    color: var(--color-white);
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-landing-overlay);
    backdrop-filter: blur(4px);
}

.content {
    width: 60%;
    position: relative;
    z-index: 2;
}

.title {
    font-size: 80px;
    margin-bottom: var(--margin-xxl);
}

.subtitle {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-xl-2);
    margin-bottom: var(--margin-xxxl);
    color: var(--color-secondary-light);
}

.ctaButton {
    padding: var(--padding-lg) var(--padding-xl);
    font-size: var(--font-size-xxl);
    background-color: var(--color-primary-light);
    color: var(--color-white);
    border: none;
    border-radius: var(--border-radius-lg);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ctaButton:hover {
    background-color: var(--color-primary);
}